requests
urllib3
beautifulsoup4
lxml
pillow
matplotlib
numpy
pandas
scipy
flask
Django
SQLAlchemy
PyMySQL
psycopg2
openpyxl
xlrd
XlsxWriter
Jinja2
tornado
aiohttp
scikit-learn
tensorflow
keras
pytorch
nltk
spacy
gensim
lightgbm
xgboost
statsmodels
scrapy
twisted
selenium
mechanize
httpie
pycurl
furl
pyyaml
jsonschema
click
typer
pyfiglet
rich
tqdm
pyinstaller
paramiko
fabric
pyttsx3
pyaudio
pygame
pyopengl
pyglet
tkinter
cryptography
pycryptodome
hashlib
jwt
